<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="postsContainer">
                <h1 class="text-left"><img src="/img/yajlogo.png" height="200px"> <%= title %></h1>
                <% posts.forEach(function(post) { %>
                    <div class="post border p-4 mb-3">
                        <h2 class="post-subject"><%= post.subject %></h2>
                        <p class="post-body"><%= post.body %></p>
                        <p class="post-time"><%= new Date(post.timestamp).toLocaleString() %></p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
