<script src="/js/phaser.min.js"></script>
<script src="/js/phaser-arcade-physics.min.js"></script>
<script src="/js/knightSnake.js"></script>

Knight sprite from - https://cyberrumor.itch.io/animated-pixel-knight<br>
Map made with tiled - https://www.mapeditor.org/<br>
Using assets from George Bailey - https://opengameart.org/content/16x16-game-assets<br>

<div id="knightSnake"></div>