<h4>Messages</h4>

<div class="list-group">
    <% entries.forEach(function(entry) { %>
        <a href="/entry/<%= entry.id %>" class="list-group-item list-group-item-action list-group-item-info bg-dkcyan font-white">
            <%= entry.lastName %> - <%= entry.id %>
        </a>
        
        <% }); %>

    </div>
                
                        
                        

                        
                          