<img alt="A picture of Jared Sylvia" src="/img/myFace.jpg" class="img-thumbnail" id="myPicture" />
<address id="addressBox">
    <strong>Jared Sylvia.</strong><br /> Modesto, CA<br /> <a href="mailto:notmyemail@gmail.com?subject=Hello">Send
        Email</a><br />

    <abbr title="Phone">P:</abbr> (209) 555-1212
</address>



<div class="container d-flex justify-content-center" id="socialLinks">

    <div class="social-links">

        <a href="https://www.facebook.com/your_facebook_page" target="_blank" rel="noopener"
            class="btn btn-primary btn-lg social-link">
            <i class="fab fa-facebook-f fa-3x"></i>
        </a>


        <a href="https://www.linkedin.com/in/your_linkedin_profile" target="_blank" rel="noopener"
            class="btn btn-primary btn-lg social-link">
            <i class="fab fa-linkedin fa-3x"></i>
        </a>


        <a href="https://t.me/your_telegram_username" target="_blank" rel="noopener"
            class="btn btn-primary btn-lg social-link">
            <i class="fab fa-telegram-plane fa-3x"></i>
        </a>

        <a href="https://www.github.com/jaredsylvia" target="_blank" rel="noopener"
            class="btn btn-primary btn-lg social-link">
            <i class="fab fa-github fa-3x"></i>
        </a>
    </div>

    <div class="service-name" style="display: none;"></div>
</div>