<img alt="A picture of Jared Sylvia" src="/img/myFace.jpg" class="img-thumbnail"/>
                <address>
                    <strong>Jared Sylvia.</strong><br /> Modesto, CA<br /> <a
                        href="mailto:notmyemail@gmail.com?subject=Hello">Send Email</a><br />

                    <abbr title="Phone">P:</abbr> (209) 555-1212
                </address>