.header,
.footer {
    background-color: darkcyan;

}

.leftCol,
.rightCol {
    background-color: darkgray;
}




.bg-dkcyan {
    background-color: darkcyan;

}

.bg-dkgray {
    background-color: darkgray;
}

.font-white {
    color: white;
}

#knightSnake {
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    justify-content: center;
}

#weatherDisplay {
    display: flex;
    align-items: center;
}

.weather-icon {
    margin-right: 10px;
}

#weatherIcon {
    font-size: 32px;
    line-height: 1;
}

.temperature {
    text-align: center;
}

#temperature {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.scrolling-row {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scrolling-row.active-row {
    opacity: 1;
    transform: translateY(0);
}

.scrolling-row.active-row #homeText {
    background-color: darkcyan;
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination-links {
    margin-top: 20px;
}

.pagination-link {
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination-link.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.social-link {
    background-color: transparent;
    border: 2px solid transparent;
}

.social-link:hover {
    background-color: transparent;
    border: solid;
    border-color: black;
}

#socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.gallery-item {
    margin: 10px 10px 10px 10px;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.sepia {
    filter: sepia(100%);
}


.dropdown-menu li {
    list-style: none;
}


/* Custom styles for the grid and buttons */
.lightsOut-outer-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 20px; /* Add space from the top */
}

.lightsOut-header {
    margin-bottom: 20px; /* Add spacing below header */
}

.lightsOut-form {
    margin-top: 30px; /* Add spacing above form */
}

.lightsOut-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust this for spacing between rows */
    align-items: center; /* Center items horizontally */
}

.lightsOut-row {
    display: flex;
    gap: 10px; /* Adjust this for spacing between columns */
    justify-content: center; /* Center items horizontally */
}

.lightsOut-col {
    flex-grow: 1;
    text-align: center; /* Center the button */
}

.square-button {
    width: 100%;
    padding-top: 100%; /* Maintain square aspect ratio */
    position: relative;
    overflow: hidden; /* Hide overflow when button is resized */
}


