<script src="/js/phaser.min.js"></script>
<script src="/js/phaser-arcade-physics.min.js"></script>
<script src="/js/knightSnake.js"></script>

<div id="knightSnake"></div>
<div id="assetLinks">
    <a href="https://cyberrumor.itch.io/animated-pixel-knight" class="btn btn-dark" target="_blank">Animated Pixel Knight</a>
    <br>
    <a href="https://www.mapeditor.org/" class="btn btn-dark" target="_blank">Tiled</a>
    <br>
    <a href="https://opengameart.org/content/16x16-game-assets" class="btn btn-dark" target="_blank">George Bailey - 16x16 Game Assets</a>
</div>
