<script src="/js/gallery.js"></script>
<div class="container gallery-container">
    <div class="row">
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/butteNight.jpg" data-fancybox="gallery" data-caption="Butte, MT at Night - reminds me of San Francisco">
            <img src="/img/butteNightsmall.jpg" alt="Butte Night" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/detroitWhiskeyParlor.jpg" data-fancybox="gallery" data-caption="Detroit Whiskey Parlor - Detroit, MI">
            <img src="/img/detroitWhiskeyParlorsmall.jpg" alt="Detroit Whiskey Parlor" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/doubleArrowLodge.jpg" data-fancybox="gallery" data-caption="Double Arrow Lodge - Seeley Lake, MT">
            <img src="/img/doubleArrowLodgesmall.jpg" alt="Double Arrow Lodge" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/missoulaFloating.jpg" data-fancybox="gallery" data-caption="Missoula, MT - Floating the Clark Fork River">
            <img src="/img/missoulaFloatingsmall.jpg" alt="Missoula Floating" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/missoulaPrintTees.jpg" data-fancybox="gallery" data-caption="Missoula, MT - Printing Tee Shirts at The Z.A.C.C.">
            <img src="/img/missoulaPrintTeessmall.jpg" alt="Printing Tee Shirts at The Z.A.C.C. in Missoula, MT" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/modestoBrandy.jpg" data-fancybox="gallery" data-caption="Modesto, CA - My cat Brandy when she was just a kitten.">
            <img src="/img/modestoBrandysmall.jpg" alt="My cat Brandy as a kitten" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/modestoChanukah.jpg" data-fancybox="gallery" data-caption="Modesto, CA - Chanukah on 10th Street">
            <img src="/img/modestoChanukahsmall.jpg" alt="Chanukah on 10th Street" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/moon.jpg" data-fancybox="gallery" data-caption="Fiddling around with astrophotography.">
            <img src="/img/moonsmall.jpg" alt="Close-up of the moon" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/mtCanvass.jpg" data-fancybox="gallery" data-caption="Missoula, MT - Canvassing for the Montana Democratic Party">
            <img src="/img/mtCanvasssmall.jpg" alt="No trespassing sign while canvassing for the Montana Democratic Party" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/riverbankTacoTruck.jpg" data-fancybox="gallery" data-caption="Best Taco Truck in the Central Valley - in Riverbank, CA">
            <img src="/img/riverbankTacoTrucksmall.jpg" alt="Best Taco Truck in the Central Valley" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/sacramentoCapitol.jpg" data-fancybox="gallery" data-caption="Sacramento, CA - The Capitol Building at night.">
            <img src="/img/sacramentoCapitolsmall.jpg" alt="Me at the Capitol Building in Sacramento, CA at night." class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/seattleGreatWheel.jpg" data-fancybox="gallery" data-caption="Seattle, WA - The Great Wheel on the waterfront.">
            <img src="/img/seattleGreatWheelsmall.jpg" alt="The Great Wheel on the waterfront in Seattle, WA" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/seattleNightRoof.jpg" data-fancybox="gallery" data-caption="Seattle, WA - Nighttime view from the roof of a friend's apartment building.">
            <img src="/img/seattleNightRoofsmall.jpg" alt="Nighttime view from the roof of an apartment building in Seattle, WA" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/seattleSkyLine.jpg" data-fancybox="gallery" data-caption="Seattle, WA - The Seattle Skyline from the waterfront.">
            <img src="/img/seattleSkyLinesmall.jpg" alt="The Seattle Skyline from the waterfront" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/seattleSpaceNeedle.jpg" data-fancybox="gallery" data-caption="Seattle, WA - The Space Needle">
            <img src="/img/seattleSpaceNeedlesmall.jpg" alt="The Space Needle in Seattle, WA" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/seattleStreet.jpg" data-fancybox="gallery" data-caption="Seattle, WA - A street in the Capitol Hill neighborhood.">
            <img src="/img/seattleStreetsmall.jpg" alt="A street in the Capitol Hill neighborhood in Seattle, WA" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/seattleWalkingPath.jpg" data-fancybox="gallery" data-caption="Seattle, WA - Walking path under a bridge.">
            <img src="/img/seattleWalkingPathsmall.jpg" alt="Walking path under a bridge in Seattle, WA" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/sierrasSomewhere.jpg" data-fancybox="gallery" data-caption="Somewhere in the Sierra Nevada Mountains">
            <img src="/img/sierrasSomewheresmall.jpg" alt="Somewhere in the Sierra Nevada Mountains" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/soulGrooveChicken.jpg" data-fancybox="gallery" data-caption="Soul Groove Chicken - San Francisco, CA">
            <img src="/img/soulGrooveChickensmall.jpg" alt="Soul Groove Chicken in San Francisco, CA" class="img-fluid">
          </a>
        
      </div>
  
      <div class="col-md-4 col-sm-6 gallery-item sepia">
        
          <a href="/img/willyTeaGiantsRitual.jpg" data-fancybox="gallery" data-caption="Willy Tea Taylor - Doing a ritual outside of the San Francisco Giants stadium to help the team get to the World Series">
            <img src="/img/willyTeaGiantsRitualsmall.jpg" alt="Willy Tea Taylor - Doing a ritual outside of the San Francisco Giants stadium to help the team get to the World Series" class="img-fluid">
          </a>
        
      </div>
    </div>
  </div>
  