<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" id="Left Products">
			<div class="row">
				<div class="col-md-6">
                    <img src="/img/knightSnake.png" class="img-fluid">

				</div>
				<div class="col-md-6">
                    <p>Title: Knight Snake</p>
                    <p>Description:<br>Collect Knights in a Snake inspired game. Don't hit your own knights or they'll likely die.</p>
                    <p>Price: Free</p>
                    <p>Platform: Browser</p>
                    <p><a href="/knightSnake" class="btn btn-dark">Play Here!</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
                    
				</div>
				<div class="col-md-6">

				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
				</div>
			</div>
		</div>
		<div class="col-md-6" id="rightProducts">
			<div class="row">
				<div class="col-md-6">
                    <img src="/img/galleryPreview.png" class="img-fluid">
				</div>
				<div class="col-md-6">
                    <p>Title: FancyBox Gallery</p>
                    <p>Description:<br>A little bit of jQuery and some FancyBox v5</p>
                    <p>Price: Free</p>
                    <p>Platform: Browser</p>
                    <p><a href="/product/gallery" class="btn btn-dark">Live Demo</a></p>
                    <p><a href="https://fancyapps.com/" class="btn btn-dark">FancyApps</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
				</div>
			</div>
		</div>
	</div>
</div>