<script src="/js/links.js"></script>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Links</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
            <table id="linkTable"
                class="display table table-bordered table-striped table-hover table-responsive table-dkcyan">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickable-row">
                        <td>Github</td>
                        <td>A platform for software development</td>
                        <td>Programming Resources</td>
                        <td>https://github.com</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Wikipedia</td>
                            <td>A free online encyclopedia</td>
                            <td>General Knowledge</td>
                            <td>https://www.wikipedia.org</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>MumboJumbo</td>
                            <td>A Minecraft content creator</td>
                            <td>Content Creators</td>
                            <td>https://www.youtube.com/ThatMumboJumbo</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>rendog</td>
                            <td>A variety content creator</td>
                            <td>Content Creators</td>
                            <td>https://www.twitch.tv/rendog</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>joehills</td>
                            <td>A Minecraft and variety content creator</td>
                            <td>Content Creators</td>
                            <td>https://www.youtube.com/joehillstsd</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>mikethebard</td>
                            <td>A music and variety content creator</td>
                            <td>Content Creators</td>
                            <td>https://www.twitch.tv/mikethebard</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Mark Rober</td>
                            <td>A science and engineering enthusiast</td>
                            <td>Science & Engineering</td>
                            <td>https://www.youtube.com/onemeeeliondollars</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>William Osman</td>
                            <td>An inventor and creator of odd projects</td>
                            <td>Science & Engineering</td>
                            <td>https://www.youtube.com/williamosman</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Nilered</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/NileRed</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Veritasium</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/1veritasium</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>SmarterEveryDay</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/smartereveryday</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Tom Scott</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/tomscottgo</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>ElectroBOOM</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/msadaghd</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Colin Furze</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/colinfurze</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Simone Giertz</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/simonegiertz</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Michael Reeves</td>
                            <td>A science and technology content creator</td>
                            <td>Science & Technology</td>
                            <td>https://www.youtube.com/michaelreeves</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Stack Overflow</td>
                            <td>A question and answer community for programmers</td>
                            <td>Programming Resources</td>
                            <td>https://stackoverflow.com</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>w3schools</td>
                            <td>Web development tutorials</td>
                            <td>Programming Resources</td>
                            <td>https://www.w3schools.com</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>MDN Web Docs</td>
                            <td>Web development documentation by Mozilla</td>
                            <td>Programming Resources</td>
                            <td>https://developer.mozilla.org</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Codecademy</td>
                            <td>Interactive coding lessons</td>
                            <td>Programming Resources</td>
                            <td>https://www.codecademy.com</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>freeCodeCamp</td>
                            <td>Learn to code and build projects for free</td>
                            <td>Programming Resources</td>
                            <td>https://www.freecodecamp.org</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>HackerRank</td>
                            <td>Practice coding, prepare for interviews</td>
                            <td>Programming Resources</td>
                            <td>https://www.hackerrank.com</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Kaggle</td>
                            <td>Data science and machine learning community</td>
                            <td>AI & Machine Learning</td>
                            <td>https://www.kaggle.com</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>OpenAI</td>
                            <td>Artificial Intelligence research lab</td>
                            <td>AI & Machine Learning</td>
                            <td>https://www.openai.com</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>TensorFlow</td>
                            <td>Open-source machine learning framework</td>
                            <td>AI & Machine Learning</td>
                            <td>https://www.tensorflow.org</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>PyTorch</td>
                            <td>Open-source machine learning library</td>
                            <td>AI & Machine Learning</td>
                            <td>https://pytorch.org</td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Fast.ai</td>
                            <td>Practical deep learning for coders</td>
                            <td>AI & Machine Learning</td>
                            <td>https://www.fast.ai</td>
                        </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>