<script src="/js/home.js"></script>
    <div class="aboutContainer">
        <div id="rowOne" class="active-row scrolling-row row">
            <div id="homeText" class="col-md-8">
                <!-- First row text -->
                <p>
                    I started my journey into computers early in life. Fiddling with the variables in the QBASIC example
                    games to make bigger explosions from the Gorilla's bananas or a faster snake in Snake was the first
                    time I remember starting to understand what coding could do. From that point on my computers were
                    always playgrounds for tinkering.
                </p>
                <p>
                    I avoided pursuing a career in computers for a long time, something just felt weird to me when I
                    thought about taking a passion and turning it into profit. That was a misstep on my part, as I enter
                    my 40's I realize now that my passion for computers should have been tapped into at a much earlier
                    age.
                </p>
            </div>
            <div id="homeImg" class="col-md-4">
                <!-- Image for the 20% right column in Row 1 -->
                <img src="/img/gorillas.jpg" alt="The classic QBasic game of Gorrilas." class="img-fluid">
            </div>
        </div>

        <div id="rowTwo" class="scrolling-row row">
            <div id="homeImg" class="col-md-4">
                <!-- Image for the 20% left column in Row 2 -->
                <img src="/img/myBeardedFace.jpg" alt="Jared Sylvia's face." class="img-fluid">
            </div>
            <div id="homeText" class="col-md-8">
                <!-- Second row text -->
                <p>
                    I'm a classic example of a "gifted child." All through elementary, middle and high school I
                    struggled with my grades. I wanted to do the things I wanted to, and I didn't want to do homework.
                    This netted me a GED instead of a diploma and limited my options for extended education. I tried
                    community college unsuccessfully and joined the workforce.
                </p>
                <p>
                    Later in my life I'd find out I was a missed diagnosis of ADHD, once I started learning how to deal
                    with that and what exactly that meant things started changing drastically. I enrolled in DeVry in
                    2021 and excelled in all of my classes. I've been on the Dean's List since I first qualified, and am
                    a member of the honors society.
                </p>
                <p>
                    Until DeVry I was self-taught, and still supplement that education with my learning. As often as
                    possible I've written my own code for assignments. After I obtain my BS, I plan on attending the
                    Master's program for Data Science at the UC Berkeley Extension college.
                </p>
            </div>
        </div>

        <div id="rowThree" class="scrolling-row row">
            <div id="homeText" class="col-md-8">
                <!-- Third row text -->
                <p>
                    In my experience, gaining knowledge in any programming language increases your skill in all other
                    languages. I'm most comfortable in Python, C#, Java, and JavaScript, but I'm always trying to push
                    myself to learn more.
                </p>
                <p>
                    The nerd in me always enjoys looking at interesting data and trying to understand what it means. I
                    enjoy data visualization having tinkered with Tableau and used matplotlib, Seaborn, and Google Data
                    Studio before it was Looker. Once time allows I plan on thoroughly investigating and learning D3.js.
                </p>
                <p>
                    I'm generally skilled with computers as well. The first computer I built was a 486 DX4 100, and the
                    first time I ever used Linux was Slackware 1. This isn't impressive on its own, but considering I
                    was born in 1982 adds a little bit. I long for the days of a frequented BBS.
                </p>
            </div>
            <div id="homeImg" class="col-md-4">
                <!-- Image for the 20% right column in Row 3 -->
                <img src="/img/letterFrequencyBar.png" alt="Bar chart of letter frequency in 5 letter words."
                    class="img-fluid">
            </div>
        </div>
        <div class="pagination-links">
            <a href="#" class="pagination-link active" data-target="rowOne">1</a>
            <a href="#" class="pagination-link" data-target="rowTwo">2</a>
            <a href="#" class="pagination-link" data-target="rowThree">3</a>
            
        </div>
    </div>
   

